<?xml version="1.0"?>

<launch>
	<include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch" />
	<include file="$(find rtabmap_ros)/launch/rgbd_mapping.launch">
		<arg name="rtabmapviz" value="false" />
		<arg name="rviz" value="true" />
		<arg name="rviz_cfg" value="-d $(find turtlebot_octomap)/config/octomap_test.rviz" />
	</include>

	<node pkg="tf" type="static_transform_publisher" name="map_world_broadcaster" args="0 0 0 0 0 0 map world 100" />

	<node name="octomap_server" pkg="octomap_server" type="octomap_server_node">
		<remap from="cloud_in" to="/camera/depth/points" />
		<param name="frame_id" type="string" value="/odom" />
		<param name="latch" value="false" />
		<param name="resolution" value="0.05" />
	</node>
</launch>
